# Copy this file to .env and set values for your environment
DB_CONNECTION=pgsql
DB_HOST=db
DB_PORT=5432
DB_DATABASE=ddd_inventory
DB_USERNAME=ddd_user
DB_PASSWORD=secret

APP_ENV=local
APP_DEBUG=true
